agno
anthropic
duckdb
fastapi
fastapi-cli
groq
google-genai
matplotlib
msgpack
networkx
numpy
ollama
openai
pandas
pillow
polars
pyarrow
pydantic
PyJWT
requests
rich
scikit-learn
scipy
seaborn
setuptools
SQLAlchemy
SQLAlchemy-Utils
statsmodels
tqdm
uvicorn
watchfiles
wordcloud
xgboost
ydata-profiling
zstandard